@import "../../style/keyframes";
@import "../../style/mixin";
@import "../../style/include-media";
@import "../../style/include-media-export";

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	overflow-x: hidden;
	overflow-y: auto;
    @include primary-font;
}
	
nav{
	-webkit-transition: left 0.5s ease;
	-moz-transition: left 0.5s ease;
	-ms-transition: left 0.5s ease;
	-o-transition: left 0.5s ease;
	transition: left 0.5s ease;
	background: #fff;
	cursor: pointer;
	height: auto;
	width: 35%;
	z-index: 5;
	padding: 0 20px;
	ul {
	    position: absolute;
        list-style: none;
        li{
            a{
                text-decoration: none;
                color: white;
                display: block;
                background-color: #6E2262;
                line-height: 50px;
                padding: 0px 20px;
                text-transform: uppercase;
                margin-bottom: 6px;
                -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                font-size: 15px;
                &:hover {
                    background: #E5523A;
                }
            }
			#link-back{
				background-color: #0d080f;
				&:hover{
					background-color: #E5523A;
				}
			}
			&:first-child{
				margin: 30px 0;
			}
        }
	}
}
.panel {
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	margin-left: -102%;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	&:target {
		margin-left: 0%;
		background-color: #ffffff;
	}
    .content{
        left: 200px;
        position: absolute;
        padding-bottom: 30px;
        animation-name: opacity;
        animation-duration: 5s;
        .panel-header{
            text-align: center;
            padding: 20px;
            h2{
                font-size: 20px;
                padding: 10px;
                color: rgba(0, 0, 0 ,1);
                text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
            }
            p{
                font-size: 16px;
                color: rgba(20, 20, 20, 0.7);
            }
        }}}
.work {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1400px;
	list-style: none;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	figure {
		position: relative;
		overflow: hidden;
		margin: 15px 1%;
		min-width: 320px;
		max-width: 600px;
		max-height: 360px;
		width: 45%;
		height: auto;
		background: #3085a3;
		text-align: center;
		cursor: pointer;
		box-shadow: 8px 8px 8px #666;
		.img-project {
			position: relative;
			display: block;
			min-height: 100%;
			max-width: 100%;
			opacity: 1;
		}
		figcaption {
			text-transform: uppercase;
			font-size: 1.25em;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&::before {
				pointer-events: none;
			}
			&::after {
				pointer-events: none;
			}
			>a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1000;
				text-indent: 200%;
				white-space: nowrap;
				font-size: 0;
				opacity: 0;
			}
            p {
                width: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
				transition: opacity 0.35s;
                -webkit-transform: translate3d(-50%, -50%, 0);
                transform: translate3d(-50%, -50%, 0);
                -webkit-transform-origin: 50%;
                transform-origin: 50%;
                a {
                    color: #fff;
					opacity: 0.8;
                    &:hover {
                        opacity: 1;
                    }
                    &:focus {
                        opacity: 0.7;
                    }
                    .i {
                        width: 70px;
                        padding: 20px 0;
                        opacity: 0;
                       transition: opacity 0.35s;
                    }
                    &:first-child {
                        .i {
                            -webkit-transform: translate3d(-60px, -60px, 0);
                            transform: translate3d(-60px, -60px, 0);
                        }
                    }
                    &:nth-child(2) {
                        .i {
                            -webkit-transform: translate3d(60px, -60px, 0);
                            transform: translate3d(60px, -60px, 0);
                        }
                    }
                }
            }
		}

	figcaption {
		&::before {
			position: absolute;
			background-color: rgba(255, 255, 255, 0.6);
			top: 50%;
			left: 50%;
			width: 250px;
			height: 250px;
			border: 2px solid black;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s;
			-webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
			transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
			-webkit-transform-origin: 50%;
			transform-origin: 50%;
		}
	}
	&:hover {
		.img-project {
			opacity: .8;
		}
		figcaption {
			&::before {
				opacity: 1;
				-webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
				transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
			}
		}
		p {
			.i {
				&:empty {
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
					opacity: 1;
				}
			}
		}
	}
}
}

#static:target ~ #header #navigation #link-static,
#other:target ~ #header #navigation #link-other{
	background: #000;
	color: #fff;
}

@include media('>=550px', '<=700px') {
	.content
	{
		.panel{
			left: 0px;
		}
	}
	nav{ 
		padding: 0;
		position: fixed;
	   width: 100%;
	   ul{ 
		   width: 100%;
		   display: inline-flex;
		   margin: 20px 0;
		   justify-content: center;
		   li{ 
		   width: 33%;
		   &:first-child{
			margin: 0;
		}
		   a{
			   border: 1px solid #fff;
			}
		}
	}}
}

@include media('>=300px', '<=550px') {
	nav{ 
		padding: 0;
		position: fixed;
	   width: 100%;
	   ul{ 
		   width: 100%;
		   display: block;
		   margin: 20px 0;
		   justify-content: center;
		   li{ 
		   width: 100%;
		   &:first-child{
			margin: 0;
		}
		   a{
			   text-align: center;
			}
		}
	}}
}


@include media('>=phone', '<=700px') {
.panel{
	.content{
		left: 0px;
		.panel-header{
			margin-top: 70px;
		}
	}
}
.work{
	width: 90%;
	figure{
		width: 85%;
	}
}
}