@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@-webkit-keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideOut {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .slideanim {
  visibility: hidden;
  visibility: visible\9;
}

main .slide {
  visibility: visible;
  -webkit-animation: slide 1s;
  animation: slide 1s;
}

main ::after {
  content: "";
  display: table;
  clear: both;
}

main .skills,
main .next-step,
main .my-work {
  display: inline-block;
  padding: 14px;
  text-align: center;
  margin: 45px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 4px 4px 6px #333;
          box-shadow: 4px 4px 6px #333;
}

main .skills h3,
main .next-step h3,
main .my-work h3 {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 2px 2px 2px #444;
}

@media (min-width: 320px) and (max-width: 768px) {
  main .skills h3,
  main .next-step h3,
  main .my-work h3 {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  main .skills h3,
  main .next-step h3,
  main .my-work h3 {
    font-size: 24px;
  }
}

main .icon {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 16px;
}

main .icon .language {
  font-size: 32px;
  padding: 16px;
}

main .icon .language span {
  font-size: 22px;
}

main .my-work {
  -webkit-box-shadow: 4px 4px 6px #333;
          box-shadow: 4px 4px 6px #333;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 80px auto;
  background-color: #18454a;
}

main .my-work .btn-projects {
  margin: 15px 30px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #18454a;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 0px 0px #000000;
}

main .my-work .btn-projects:hover {
  background-color: #18454a;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

main .my-work .btn-projects:active {
  position: relative;
  top: 1px;
}

main .skills {
  background-color: #E5523A;
}

main .next-step {
  background-color: #6E2262;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  main h3 {
    font-size: 20px;
  }
  main .my-work {
    margin: 50px auto;
  }
  main .skills,
  main .next-step {
    margin: 30px auto;
  }
  main .skills .icon,
  main .next-step .icon {
    padding: 10px;
    font-size: 28px;
  }
  main .skills span,
  main .next-step span {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  main h3 {
    font-size: 20px;
  }
  main .icon .language {
    padding: 10px;
    font-size: 26px;
  }
  main .icon span {
    font-size: 18px;
  }
}

header {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .left-header {
  padding: 20px;
  width: 50%;
}

header .left-header .hero {
  text-align: center;
  font-size: 36px;
  padding: 20px;
  color: #18454a;
  font-family: 'Nothing You Could Do', cursive;
}

header .left-header .text {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  color: #18454a;
  padding: 20px;
}

header .right-header {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .right-header .background {
  z-index: -1;
  background-color: #18454a;
  border-radius: 45%;
}

header .right-header .background .img .hero-img {
  width: 300px;
  padding: 50px;
  margin: 0 auto;
  display: inherit;
}

header .border-bottom {
  margin: 60px 40px;
  width: 100%;
  height: 5px;
  background-color: #18454a;
}

header .has-animation {
  position: relative;
}

header .has-animation p, header .has-animation img {
  opacity: 0;
}

header .has-animation.animate-in p, header .has-animation.animate-in img {
  -webkit-animation: textHidden 0.1s 1.1s forwards;
          animation: textHidden 0.1s 1.1s forwards;
}

header .has-animation.animate-in:before, header .has-animation.animate-in:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}

header .has-animation.animate-in:before {
  background-color: #E5523A;
}

header .has-animation.animate-in:after {
  background-color: #18454a;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

header .has-animation.animation-ltr.animate-in:before {
  -webkit-animation: revealLTR 1.8s ease;
          animation: revealLTR 1.8s ease;
}

header .has-animation.animation-ltr.animate-in:after {
  -webkit-animation: revealLTR 1s .6s ease;
          animation: revealLTR 1s .6s ease;
}

header .has-animation.animation-rtl.animate-in:before {
  -webkit-animation: revealRTL 1.8s ease;
          animation: revealRTL 1.8s ease;
}

header .has-animation.animation-rtl.animate-in:after {
  -webkit-animation: revealRTL 1s .6s ease;
          animation: revealRTL 1s .6s ease;
}

@media (min-width: 768px) and (max-width: 850px) {
  header {
    width: 100%;
  }
  header .left-header {
    padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  header {
    width: 100%;
  }
  header .left-header {
    width: 100%;
  }
  header .left-header .text {
    text-align: center;
  }
  header .right-header {
    width: 100%;
  }
}
/*# sourceMappingURL=header.css.map */