main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .slideanim {
  visibility: hidden;
  visibility: visible\9;
}

main .slide {
  visibility: visible;
  -webkit-animation: slide 1s;
  animation: slide 1s;
}

main ::after {
  content: "";
  display: table;
  clear: both;
}

main .skills,
main .next-step,
main .my-work {
  display: inline-block;
  padding: 14px;
  text-align: center;
  margin: 45px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 4px 4px 6px #333;
          box-shadow: 4px 4px 6px #333;
}

main .skills h3,
main .next-step h3,
main .my-work h3 {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 2px 2px 2px #444;
}

@media (min-width: 320px) and (max-width: 768px) {
  main .skills h3,
  main .next-step h3,
  main .my-work h3 {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  main .skills h3,
  main .next-step h3,
  main .my-work h3 {
    font-size: 24px;
  }
}

main .icon {
  display: -ms-inline-grid;
  display: inline-grid;
  padding: 16px;
}

main .icon .language {
  font-size: 32px;
  padding: 16px;
}

main .icon .language span {
  font-size: 22px;
}

main .my-work {
  -webkit-box-shadow: 4px 4px 6px #333;
          box-shadow: 4px 4px 6px #333;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 80px auto;
  background-color: #18454a;
}

main .my-work .btn-projects {
  margin: 15px 30px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #18454a;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 0px 0px #000000;
}

main .my-work .btn-projects:hover {
  background-color: #18454a;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

main .my-work .btn-projects:active {
  position: relative;
  top: 1px;
}

main .skills {
  background-color: #E5523A;
}

main .next-step {
  background-color: #6E2262;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  main h3 {
    font-size: 20px;
  }
  main .my-work {
    margin: 50px auto;
  }
  main .skills,
  main .next-step {
    margin: 30px auto;
  }
  main .skills .icon,
  main .next-step .icon {
    padding: 10px;
    font-size: 28px;
  }
  main .skills span,
  main .next-step span {
    font-size: 20px;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  main h3 {
    font-size: 20px;
  }
  main .icon .language {
    padding: 10px;
    font-size: 26px;
  }
  main .icon span {
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */