@import "mixin";
@import "include-media";

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	
	.slideanim {
		visibility: hidden;
		visibility: visible\9;
	}
	.slide {
		visibility: visible;
		-webkit-animation: slide 1s;
		animation: slide 1s;
	}
	 ::after {
		content: "";
		display: table;
		clear: both;
	}
	.skills,
	.currently,
	.next-step,
	.my-work {
		display: inline-block;
		padding: 14px;
		text-align: center;
		margin: 45px auto;
		width: fit-content;
		box-shadow: 4px 4px 6px #333;
		h3 {
			@include h3-header;
		}
	}
	.icon {
		display: inline-grid;
		padding: 16px;
		.language {
			font-size: 32px;
			padding: 16px;
			span {
				font-size: 22px;
			}
		}
	}
	.my-work {
		box-shadow: 4px 4px 6px #333;
		padding: 10px;
		width: fit-content;
		display: block;
		margin: 80px auto;
		background-color: $blue-color;
		.btn-projects {
			margin: 15px 30px;
			background-color: #ffffff;
			border-radius: 6px;
			border: 1px solid #dcdcdc;
			display: inline-block;
			color: $blue-color;
			font-size: 16px;
			letter-spacing: 1px;
			font-weight: 600;
			height: 50px;
			line-height: 50px;
			width: 150px;
			text-decoration: none;
			text-align: center;
			text-shadow: 0px 0px 0px #000000;
			&:hover {
				background-color: $blue-color;
				color: #fff;
				transition: background-color .3s ease-in-out;
			}
			&:active {
				position: relative;
				top: 1px;
			}
		}
	}
	.skills {
		background-color: $orange-color;
	}
	.currently {
		background-color: $green-color;
	}
	.next-step {
		background-color: $purple-color;
	}
}

@include media(">=desktop" , "<=1200px") {
	main{
		h3{
			font-size: 20px;
		}
		.my-work{
			margin: 50px auto;
	}
	.skills,
	.next-step{
		margin: 30px auto;
		.icon{
			padding: 10px;
			font-size: 28px;
		}
		span{
			font-size: 20px;
		}
	}
}
}

@include media(">=280px" , "<=phone") {
main{
	h3{
		font-size: 20px;
	}
	.icon{

		.language{
			padding: 10px;
			font-size: 26px;
		}
		span{
			font-size: 18px;
		}
	}
}
}

@include media(">=phone" , "<=tablet") {
main{
	h3{
		font-size: 20px;
	}
	.icon{

		.language{
			padding: 10px;
			font-size: 26px;
		}
		span{
			font-size: 18px;
		}
	}
}
}