@-webkit-keyframes slide {
  0% {
    opacity: 10;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    opacity: 10;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@-webkit-keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideOut {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  color: white;
  font-size: 24px;
  font-family: 'Inconsolata', monospace;
}

nav {
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #fff;
  cursor: pointer;
  height: auto;
  width: 35%;
  z-index: 5;
  padding: 0 20px;
}

nav ul {
  position: absolute;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  background-color: #6E2262;
  line-height: 50px;
  padding: 0px 20px;
  text-transform: uppercase;
  margin-bottom: 6px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

nav ul li a:hover {
  background: #E5523A;
}

nav ul li #link-back {
  background-color: #0d080f;
}

nav ul li #link-back:hover {
  background-color: #E5523A;
}

nav ul li:first-child {
  margin: 30px 0;
}

.panel {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: #000;
  margin-left: -102%;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.panel:target {
  margin-left: 0%;
  background-color: #ffffff;
}

.panel .content {
  left: 200px;
  position: absolute;
  padding-bottom: 30px;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.panel .content .panel-header {
  text-align: center;
  padding: 20px;
}

.panel .content .panel-header h2 {
  font-size: 20px;
  padding: 10px;
  color: black;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.panel .content .panel-header p {
  font-size: 16px;
  color: rgba(20, 20, 20, 0.7);
}

.work {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1400px;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work figure {
  position: relative;
  overflow: hidden;
  margin: 15px 1%;
  min-width: 320px;
  max-width: 600px;
  max-height: 360px;
  width: 45%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 8px 8px 8px #666;
          box-shadow: 8px 8px 8px #666;
}

.work figure .img-project {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 1;
}

.work figure figcaption {
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work figure figcaption::before {
  pointer-events: none;
}

.work figure figcaption::after {
  pointer-events: none;
}

.work figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.work figure figcaption p {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.work figure figcaption p a {
  color: #fff;
  opacity: 0.8;
}

.work figure figcaption p a:hover {
  opacity: 1;
}

.work figure figcaption p a:focus {
  opacity: 0.7;
}

.work figure figcaption p a .i {
  width: 70px;
  padding: 20px 0;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.work figure figcaption p a:first-child .i {
  -webkit-transform: translate3d(-60px, -60px, 0);
  transform: translate3d(-60px, -60px, 0);
}

.work figure figcaption p a:nth-child(2) .i {
  -webkit-transform: translate3d(60px, -60px, 0);
  transform: translate3d(60px, -60px, 0);
}

.work figure figcaption::before {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  border: 2px solid black;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
}

.work figure:hover .img-project {
  opacity: .8;
}

.work figure:hover figcaption::before {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
  transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

.work figure:hover p .i:empty {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

#static:target ~ #header #navigation #link-static,
#other:target ~ #header #navigation #link-other {
  background: #000;
  color: #fff;
}

@media (min-width: 550px) and (max-width: 700px) {
  .content .panel {
    left: 0px;
  }
  nav {
    padding: 0;
    position: fixed;
    width: 100%;
  }
  nav ul {
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul li {
    width: 33%;
  }
  nav ul li:first-child {
    margin: 0;
  }
  nav ul li a {
    border: 1px solid #fff;
  }
}

@media (min-width: 300px) and (max-width: 550px) {
  nav {
    padding: 0;
    position: fixed;
    width: 100%;
  }
  nav ul {
    width: 100%;
    display: block;
    margin: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li:first-child {
    margin: 0;
  }
  nav ul li a {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .panel .content {
    left: 0px;
  }
  .panel .content .panel-header {
    margin-top: 70px;
  }
  .work {
    width: 90%;
  }
  .work figure {
    width: 85%;
  }
}
